version: "3.8"

services:
  app:
    ports:
      - "9001:9001"
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 1.1.1.1
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - app-logs:/app/logs
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    container_name: mysql
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -p$$MYSQL_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    container_name: redis
    image: redis:7.0.12
    volumes:
      - ./redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - app-network
    command: redis-server --requirepass ${REDIS_PASSWORD}
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}

networks:
  app-network:
    driver: bridge

volumes:
  app-logs:
