server:
  port: 9001
  forward-headers-strategy: native

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}

  datasource:
    url: jdbc:mysql://${DB_ADDRESS}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: true
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true
        use_sql_comments: true

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD}

  jwt:
    secret: ${JWT_SECRET_KEY}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_ADDRESS}
    password: ${GMAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
  sql:
    init:
      mode: always

rank:
  session:
    ttl: 3600 # 초 단위, 운영 기본값

backup:
  datasource:
    # Aiven용 JDBC URL (SSL 옵션 포함)
    url: ${BACKUP_DB_URL}
    username: ${BACKUP_DB_USER}
    password: ${BACKUP_DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

springdoc:
  packages-to-scan: com.renzzle.backend
  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: /
    disable-swagger-default-url: true
    display-request-duration: true
    operations-sorter: alpha

# For Prometheus (Monitoring)
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true